* {
  margin: 0;
  padding: 0;
  font-family: 'SCoreDream';
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}
.container h1 {
  font-size: 25px;
}

/*---------------------------------------
  NAVIGATION               
-----------------------------------------*/
nav {
  z-index: 8;
}
#navbarNav {
  height: 80px;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}

nav .navbar-nav .nav-link {
  color: var(--p-color);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  position: relative;
  margin-right: 10px;
  text-align: center;
}

#navbarNav .nav-link:hover,
#navbarNav .nav-item.active {
  color: #2370DF;
  border-bottom: 1px solid #2370DF;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {
  width: 100%;
  height: 65vh;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 14px;

  background-image: 
  	 linear-gradient(
   		to bottom,
   		rgba(255, 214, 191, 0.2),
   		rgba(0, 0, 3, 0.8),
   		rgba(0, 0, 3, 1)),
  	url("/resources/img/static/banner1.png");
  background-size: cover;
}

.hero .row {
  position: relative;

  top: 30%;
}
.hero .row img {
  width: 100%;
  height: 300px;
  object-fit: cover;

  border-radius: 20px;
}
.hero-text {
  margin-left: 50px;
  height: 300px;
}
.hero-text .row {
  margin-bottom: 20px;
  width: 100%;
}
.hero-text .card div:first-of-type {
  font-size: 14px;
}
.hero-text h1 {
  font-size: 25px;
  font-weight: 500;
}
.hero-text span {
  display: inline-block;
}
.hero-text .badge-group {
  width: 60px;
  
  background-color: #FF730E;
  
  text-align: center;
  color: white;
  font-weight: 500;
  line-height: 30px;
}
.badge-personal {
  width: 60px;
  
  background-color: #2370DF;
  
  text-align: center;
  color: white;
  font-weight: 500;
  line-height: 30px;
}
.hero-text .fa-star {
  width: 20px;
  line-height: 10px;
}
.hero-text .reviews {
  width: 200px;
  line-height: 30px;
}
.hero-text .card div:last-of-type span {
  width: auto;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 28px;

  background-color: #FF730E;
  border-radius: 20px;
  margin: 0 5px;
}
.hero-text .card div:last-of-type span:hover {
  background-color: #ffa766;
}
.tag-search-link,
.tag-search-link:visited,
.tag-search-link:hover {
	color: #fff;
}
.tag-area {
	display: flex;
	justify-content: flex-start;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section {
  z-index: -1 !important;
}
.news-detail {
  width: 1200px;
  margin: 0 auto;
}
#section01, #section02, #section04, #section05, #section07 {
  line-height: 40px;
}
#section06 {
  line-height: 20px;
}
.class-title {
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 500;

  /* border-bottom: 1px solid lightgray; */
  /* border-image: linear-gradient(to right, rgba(35, 112, 223, .5), rgba(35, 112, 223, 0));
  border-image-slice: 1; */
}

.class-intro .class-title {
  padding-top: 50px;
}
.class-intro div:last-of-type>h2 {    /* 클래스소개 */
  font-size: 20px;
  font-weight: 500;
}
.youtube {
  margin-bottom: 40px;
}

.trainer-profile-img {    /* 트레이너소개 */
  width: 280px;
  height: 350px;

  margin: 0 auto;
  margin-bottom: 20px;

  border: 5px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#FFF, #FFF), linear-gradient(to right, lightgray, #2370DF, #FF730E , lightgray);
  background-origin: border-box;
  background-clip: content-box, border-box;

  box-shadow: 5px 5px 20px lightgray;
  
}
.trainer-profile-img img {
  width: 100%;
  height: 100%;

  padding: 5px;
  object-fit: cover;

  border-radius: 10px;
}

.trainer-profile div {
  margin-bottom: 30px;
}
.trainer-profile div:nth-of-type(3) {
  border-bottom: 1px solid lightgray;
}
.trainer-profile h2 {
  font-size: 20px;
  text-align: center;
}
.trainer-profile h3 {
  font-size: 18px;
  font-weight: 500;

  margin-bottom: 30px;
}
.trainer-profile ul {
  padding-left: 50px;
}

.class-progress ul {      /* 커리큘럼 */
  list-style: none;
}
.class-progress ul li {
  margin-bottom: 30px;
  padding: 20px;

  /* border-bottom: 1px solid lightgray; */
  background-color: #f4f8ff;
  border-radius: 10px;
}

.step {
  font-weight: 500;
  font-size: 17px;
  line-height: 35px;

  margin-bottom: 10px;
}
.step span {
  display: inline-block;

  width: 100px;
  height: 35px;
  margin-right: 10px;

  border-radius: 20px;
  background-color: #2370DF;

  text-align: center;
  color: white;
}
.class-progress ul li p {
  padding-left: 15px;
  line-height: 25px;
}

.center-facilities {
  border: 1px solid lightgray;
  border-radius: 20px;

  margin: 0 50px;
  margin-bottom: 80px;
  padding-top: 20px;
}
.center-facilities span {
  font-size: 18px;
}

.carousel-item img {  /* 클래스 사진 */
  object-fit: cover;
}
/*---------------------------------------
  REVIEWS            
-----------------------------------------*/
.card {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.class-review .badge {
  font-size: 25px !important;
  font-weight: 400;
  background-color: #2370DF;
}

.badge i {
  font-size: 25px;
  font-weight: 200
}

.about-rating {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px
}

.total-ratings {
  font-size: 12px
}

.stars i {
  color: #ffd64f;
}

.stars i:hover {
  color: #FF730E;
}

.progress {
  margin-top: 2px;
  border-radius: 0px;
  padding-left: 0px;
}

.progress-bar {
  background-color: #ffd64f;
}

.progress-bar:hover {
  background-color: #FF730E;
}

.percent span {
  font-size: 14px;
}

.content {
  font-size: 14px;
}
#class-review-area,  #class-review-area .row {
  margin: 0 auto;
  width: 100%;
}
.pic {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 10px;
  object-fit: cover;
}

.star-active {
  color: #ffd64f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star-active:hover {
  color: #FF730E;
}

.star-inactive {
  color: #CFD8DC;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-header {
  line-height: 20px;
}

.review-header>div:nth-of-type(1)>h3{
  font-size: 18px !important;
  font-weight: 500;
  color: #2370DF;
}

.review-header>div:last-of-type {
  font-size: 14px;
  line-height: 10px;
  text-align: right;
}
.reviews>.row {
  margin: 15px 0;
}
/* page */
.pagination,
.jsgrid .jsgrid-pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem
}

.page-link {
  color: black
}

.pagination.pagination-rounded-flat .page-item {
  margin: 0 .25rem
}

.pagination-success .page-item.active .page-link {
  background: #2370DF;
  border-color: #2370DF;
}

.pagination.pagination-rounded-flat .page-item .page-link {
  border: none;
  border-radius: 50px;
}

/* sort button */
.radio {
  display: none;
}

.sort label {
  display: inline-block;

  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  background-color: #ebebeb;

  border-radius: 20px;

  margin-right: 10px;
  margin-bottom: 30px;
}

.sort label:hover,
.radio:checked+label {
  cursor: pointer;
  background-color: #2370DF;
  color: white;
}

/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
  background: var(--dark-color);
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.site-footer .custom-link {
  color: rgba(255, 255, 255, 0.65);
  font-size: var(--p-font-size);
}

.site-footer .custom-link:hover,
.site-footer .social-icon-link:hover {
  color: var(--white-color);
}

.copyright-text {
  color: rgba(255, 255, 255, 0.45);
  font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .news-two-column {
    min-height: 232.5px;
  }
}

@media screen and (max-width: 991px) {

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .team-thumb {
    left: 0;
    width: auto;
  }

  .news-two-column {
    height: auto !important;
    min-height: inherit;
  }

  .news .col-12 .news-two-column:first-child {
    margin-bottom: 38px;
  }
}

.class {
  padding-top: 150px;
}

.col-lg-5 {
  width: 55%;
}

/*---------------------------------------
  SIDE-BOX             
-----------------------------------------*/
.side-box {
  position: sticky;
  padding-top: 20px;
  top: 150px;
}
.side-box .card-header {
  cursor: pointer;

  border-bottom: none;
  height: 35px;
  background-color: #FF730E;
  color: white;

  font-size: 13px;
  text-align: center;
  font-weight: 600;
  line-height: 13px;
}
.side-box .card {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.card-info {
  width: 100%;
}
.card-info .class-type {
  font-size: 25px;
  font-weight: 500;
}
.card-info .class-type span {
  color: #2370DF;
  font-weight: 600;
}
.card-info .class-count {
  font-weight: 700;
}

.card-info .class-amount {
  font-size: 30px;
  font-weight: bold;
}

.card-info .participants {
  font-size: 12px;
  text-align: left;
  color: gray;
}

.card-info .participants span {
  color: #2370DF;
  font-size: 15px;
  font-weight: bold;
}

.card-info progress {
  width: 100%;
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  width: 100%;
  height: 10px;
  border: 1px solid #2370DF;
  border-radius: 5px;
  background-color: white;
}

::-webkit-progress-value {
  background-color: #2370DF;
}

.card .material-icons {
  font-size: 15px;
}

.material-icons.red {
  color: #EB5757;
}

.card button {
  border: 1px solid #2370DF;
  background-color: white;
  border-radius: 5px;

  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
}

#sharebtn {
  width: 100%;
}

#likebtn {
  width: 100%;
}

#sharebtn:hover,
#likebtn:hover {
  background-color: rgba(35, 112, 223, .1);
}

#buybtn {
  border: none;
  background-color: #2370DF;
  color: white;
}
#page-7 {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 10px;
  background-color: #ebebeb;
}
#page-7 h2:first-of-type {
	text-align: center;
	font-size: 20px;
}
#page-7 h2 {
	font-size: 16px;
}
#page-7 p {
	line-height: 30px;
	font-size: 14px;
}

/*---------------------------------------
  SIDE-BOX-HEART-ANIMATED     
-----------------------------------------*/
svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  padding-bottom: 5px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked+label svg #heartgroup1 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup2 #heart1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 #heart2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup3 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup3 #heart1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup3 #heart2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup3 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup4 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup5 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup6 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}



/*---------------------------------------
  TOP-BUTTON          
-----------------------------------------*/
.top-btn {
  position: sticky;
  left: 40px;
  bottom: 80px;

  border: 1px solid lightgray;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-bottom: 50px;

  text-align: center;
  line-height: 27px;
}

.top-btn i {
  font-size: 20px;
  color: #444444;
}

.top-btn p {
  font-size: 10px;
  line-height: 0;
  color: #444444;
}


.trainer-intro-card {
    width: 800px;
    border: none;
    border-radius: 14px !important;
    box-shadow: 1px 1px 5px lightgray;
}
.area1 {
    background-color: #d3e7ff;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    padding-top: 83px !important
}
.image {
    top: -62px;
    position: relative;
}
.image img {
    box-shadow: 5px 6px 6px 2px #e9ecef;
}
.area2 {
    background-color: #fff;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
}
.name {
    font-size: 25px;
    font-weight: 650;
}
.information {
    color: #9FA8DA;
    font-weight: 500;
    font-size: 16px;
}
.info-header {
	width: 80%;
	margin: 0 auto;
	background-color: #9FA8DA;
	color: #fff;
	
	border-radius: 10px;
}