<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weet.app.dash.mapper.FoodFeedbackMapper">

	<!-- * 하고 JSP 에서 골라서 해주기!-->
	<!-- 오라클 인덱스 힌트 사용 /*+ index_desc(t_feedback) */ -->
	
	<!--================식단 리스트 (USER1 식단 가져오기)========-->
   <select id="selectAllFoodList"
            resultType="com.weet.app.dash.domain.FeedbackVO">
        SELECT
        *
        FROM T_FEEDBACK
        WHERE USER_ID2 = 'user1'
        ORDER BY FEEDBACK_DIET_TS DESC
   </select>
   

</mapper>