<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weet.app.dash.mapper.ScheduleMapper">

	<!-- * 하고 JSP 에서 골라서 해주기!-->
	
	<!--================스케쥴 가져오기========-->

    <resultMap type="calender" id="calMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>
	
	<select id="calenderList" resultMap="com.weet.app.dash.persistence.ScheduleDAO">
		SELECT id, title,
		TO_char(start1, 'YYYY-MM-DD"T"HH24:MI:SS') start1,
		TO_char(end1, 'YYYY-MM-DD"T"HH24:MI:SS') end1,
		ALLDAY,
		TEXTCOLOR,
		BACKGROUNDCOLOR,
		BORDERCOLOR 
		FROM CALENDAR
	</select>

</mapper>