<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weet.app.user.mapper.UserFindMapper">

<update id="updatePwd">
        UPDATE t_tr
        SET user_pwd = #{userPwd}
        WHERE user_id = #{userId}
    </update>
    
</mapper>