<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weet.app.mypage.mapper.MypageMapper">
    
    <!-- 페이징 처리 : 전체 게시판 조회 (*****) -->
    <select 
        id="selectListWithPaging" 
        resultType="com.weet.app.mypage.domain.MypageBoardVO">
    
        SELECT
            /*+ INDEX_DESC(T_COMMUNITY) */
            
            comm_id,
            user_id,
            comm_post_title,
            comm_like_num,
            comm_reply_count,
            comm_post_insert_ts
            
        FROM
            T_COMMUNITY
        WHERE
        	USER_ID = #{userId}
        OFFSET (#{cri.currPage} - 1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    
    </select>

    <!-- 답변 완료 게시판 조회 (*****) -->
    <select 
        id="selectReplyDoneList" 
        resultType="com.weet.app.mypage.domain.MypageBoardVO">
    
        SELECT

            /*+ INDEX_DESC(T_COMMUNITY) */
            
            comm_id,
            user_id,
            comm_post_title,
            comm_like_num,
            comm_reply_count,
            comm_post_insert_ts
            
        FROM
            T_COMMUNITY
        WHERE
        	USER_ID = #{userId}
        AND COMM_REPLY_YN = 'Y'

        OFFSET (#{cri.currPage} - 1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    
    </select>

    <!-- 좋아요 게시판 조회 -->
    <select 
        id="selectLikeList" 
        resultType="com.weet.app.mypage.domain.MypageBoardVO">
    
        SELECT
            
            c.comm_id,
            t.user_id,
            c.comm_post_title,
            c.comm_like_num,
            c.comm_reply_count,
            c.comm_post_insert_ts
            
        FROM
            T_Like_Board t, T_COMMUNITY c
        WHERE
            t.comm_id = c.comm_id
        AND t.user_id = #{userId}

        OFFSET (#{cri.currPage} - 1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    
    </select>

    <!-- 댓글 조회 -->
    <select 
        id="selectReplyList" 
        resultType="com.weet.app.mypage.domain.MypageReplyVO">
    
        SELECT

            /*+ INDEX_DESC(T_REPLY) */
            
            reply_id,
            comm_id,
            user_id,
            reply_contents,
            reply_update_ts
            
        FROM
            T_REPLY
        WHERE
        	USER_ID = #{userId}

        OFFSET (#{cri.currPage} - 1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    
    </select>

    <!-- 수강중인 클래스 조회 -->
    <select 
        id="selectClass" 
        resultType="com.weet.app.mypage.domain.MypageClassVO">
    
        SELECT

            /*+ INDEX_DESC(T_CLASS) */
            
            t.class_id,
            ls.user_id,
            t.class_trainer_name,
            t.class_title,
            t.CLASS_MAIN_IMG_URL
            
        FROM
            T_CLASS t, t_class_listenr ls
        WHERE
            t.class_id = ls.class_id
        	AND ls.USER_ID = #{userId}

        OFFSET (#{cri.currPage} - 1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    
    </select>

    <!-- 수강 종료 클래스 조회 -->
    <select 
        id="selectDoneClass" 
        resultType="com.weet.app.mypage.domain.MypageClassVO">

        <![CDATA[

            SELECT

                /*+ INDEX_DESC(T_CLASS) */
                
                t.class_id,
                ls.user_id,
                t.class_trainer_name,
                t.class_title,
                t.CLASS_MAIN_IMG_URL
                
            FROM
                T_CLASS t, t_class_listenr ls
            WHERE
                t.class_id = ls.class_id
                AND ls.USER_ID = #{userId}
                AND t.CLASS_RECRUIT_END_DATE < CURRENT_DATE

            OFFSET (#{cri.currPage} - 1) * #{cri.amount} ROWS
            FETCH NEXT #{cri.amount} ROWS ONLY
        
        ]]>
    
    </select>

    <!-- 수강 종료 클래스 조회 - 페이징 -->
    <select 
        id="selectDoneClassAmount" 
        resultType="Integer">

        <![CDATA[

            SELECT
                count(CLASS_LISTENER)
            FROM
                T_CLASS t, t_class_listenr ls
            WHERE
                t.class_id = ls.class_id
                AND ls.USER_ID = #{userId}
                AND t.CLASS_RECRUIT_END_DATE < CURRENT_DATE

        ]]>
    
    </select>

    <!-- 후기 등록 -->
    <insert id="insertReview">

        INSERT INTO t_review ( USER_ID, CLASS_ID, REVIEW_STAR, REVIEW_CONTENTS, REVIEW_DATETIME )
        VALUES( #{userId}, #{classId}, #{reviewStar}, #{reviewContents}, to_date(CURRENT_DATE,'yyyy/mm/dd') )

    </insert>

    <!-- 수강 시작 전 클래스 조회 -->
    <select 
        id="selectBeforeClass" 
        resultType="com.weet.app.mypage.domain.MypageClassVO">

        <![CDATA[

            SELECT

                /*+ INDEX_DESC(T_CLASS) */
                
                t.class_id,
                ls.user_id,
                t.class_trainer_name,
                t.class_title,
                t.CLASS_MAIN_IMG_URL
                
            FROM
                T_CLASS t, t_class_listenr ls
            WHERE
                t.class_id = ls.class_id
                AND ls.USER_ID = #{userId}
                AND t.CLASS_RECRUIT_END_DATE > CURRENT_DATE

        ]]>
    
    </select>
    
    <!-- 찜한 클래스 조회 -->
    <select 
        id="selectLikeClass" 
        resultType="com.weet.app.mypage.domain.MypageClassVO">

        <![CDATA[

            SELECT

                /*+ INDEX_DESC(T_CLASS) */
                
                t.class_id,
                ls.user_id,
                t.class_trainer_name,
                t.class_title,
                t.CLASS_MAIN_IMG_URL
                
            FROM
                T_CLASS t, t_like_class ls
            WHERE
                t.class_id = ls.class_id
                AND ls.USER_ID = #{userId}

        ]]>
    
    </select>


</mapper>