@charset "UTF-8";

/* WEB FONTS 적용 ----------------- */
@import url(https://webfontworld.github.io/SCoreDream/SCoreDream.css);

/* 기본적 css 리셋 */
* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}

/* 가이드라인 */
/* .g {
    border: 1px solid rgb(192, 2, 255);
} */


/* 배경 스타일 작업 ================================================== */
body {
    background-color: rgb(233, 233, 233) !important;

}
section.wrap {
    display: flex;
}
/* 대시보드 스타일 작업 ==================================================*/
section div.dash {/* 대시보드 크기 */
    display: inline-block;
    text-align: left;
    width: 1200px;
    height: 910px;
    padding: 30px;
    /* height: 300px; */

    margin: auto;  /*대시보드 위치 창 크기에 따라 */
}
section div.dash h1 { /*트레이너 대시보드 타이틀*/ 
    font-size: 25px;
    font-weight: bold;
    color: #e6be96;
    padding: 10px;
    padding-bottom: 20px;
}
/* 클래스 공지사항 대시보드----------------------------------*/
section div.class-notice { /*클래스 공지사항 전체 박스*/
    background-color: rgb(255, 255, 255);
    /* float: left; */
    border-radius: 18px;
}
section div.notice-write {/*공지사항 & 버튼 박스*/
    display: inline-flex;
    padding-left: 55px;
    padding-top: 30px;
    /* margin: 10px; */
}
section div.class-notice h2 {  /*클래스 공지사항 타이틀 텍스트*/
    width: 160px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #FF730E;
    text-align: center;
    margin-top: 5px;
}
.write-icon {  /* 작성 버튼 배경 */
    height: 28px;
    background-color: #ffe3d0;
    border-radius: 7px;
    margin-top: 5px;
}
section div.notice-write a { /* 작성 버튼 스타일 없앰*/
    text-decoration: none;
}
section div.notice-write i { /* 작성 버튼 아이콘*/
    color: #FF730E;
    border-radius: 7px;
    text-align: center;
    margin-left: 10px;
}
section div.class-notice h3 { /* 작성 버튼 글씨*/
    display: inline-flex;
    font-size: 13px;
    font-weight: bold;
    color: #FF730E;
    padding-right: 10px;
}
section div.notice-list { /* 공지사항 리스트 박스 */
    overflow: auto;
    overflow-x: hidden;
    height: 300px; /* 박스 높이 */ 
    padding-bottom: 20px;
    font-size: 14px;/* 리스트 폰트 사이즈 */
}

section div.notice-list::-webkit-scrollbar { /*공지사항 리스트 스크롤 너비*/
    width: 12px;
}
section div.notice-list::-webkit-scrollbar-thumb { /*공지사항 리스트 스크롤 막대*/
    background-color: #ffcba6;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
section div.notice-list::-webkit-scrollbar-track { /*공지사항 리스트 스크롤 여백*/
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
section div.notice-list li {    /* 공지사항 리스트 - 리스트 태그*/
    width: 1000px;
    padding: 20px;
    margin: auto;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
    list-style: none;
    color: black;
    border-bottom: solid #e7e7e7;
}
section div.notice-list a {
    text-decoration: none; /* 밑줄 없애기 */
    color: black;
}
section div.notice-list h4 { /* 공지사항 수정 버튼 */
    float: right;
    display: inline-block;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    background-color: #ffe3d0;
    color: #FF730E;
    width: 60px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
}
section div.notice-list h5 { /* 공지사항 삭제 버튼 */
    float: right;
    display: inline-block;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    background-color: #a7a7a7;
    color: #ffffff;
    width: 60px;
    height: 25px;
    padding-top: 4px;
    margin-left: 8px;
    text-align: center;
}

/* 이번주 코칭계획 대시보드 ----------------------------------------------------------------------*/
section div.coaching-plan {
    background-color: rgb(255, 255, 255);
    /* float: left; */
    border-radius: 18px;
    margin-top: 40px;/* 두 박스간 간격*/ 
}
section div.plan-write { /*코칭계획 & 버튼 박스*/
    display: inline-flex;
    padding-left: 55px;
    padding-top: 30px;
}
section div.coaching-plan h2 { /*이번주 코칭계획 텍스트*/
    width: 160px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #FF730E;
    text-align: center;
    margin-top: 5px;
}
.write-icon2 {  /* 작성 버튼 배경 */
    height: 28px;
    background-color: #ffe3d0;
    border-radius: 7px;
    margin-top: 5px;
}
section div.plan-write a { /* 작성 버튼 스타일 없앰*/
    text-decoration: none;
}

#write-btn {    /* 작성 버튼 스타일 없앰 **** 버튼태그!! */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none; 

    margin-bottom: 12px;
}

section div.plan-write i { /* 작성 버튼 아이콘*/
    color: #FF730E;
    border-radius: 7px;
    text-align: center;
    margin-left: 10px;
}
section div.coaching-plan h3 { /* 작성 버튼 글씨*/
    display: inline-flex;
    font-size: 13px;
    font-weight: bold;
    color: #FF730E;
    padding-right: 10px;
}
section div.plan-list { /* 코칭계획 리스트 박스 */
    overflow: auto;
    overflow-x: hidden;
    height: 300px;
    /* 박스 높이 */
    padding-bottom: 20px;
    font-size: 14px;
    /* 리스트 폰트 사이즈 */
}
section div.plan-list::-webkit-scrollbar { /*코칭계획 리스트 스크롤 너비*/
    width: 12px;
}
section div.plan-list::-webkit-scrollbar-thumb {  /*코칭계획 리스트 스크롤 막대*/
    background-color: #ffcba6;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
section div.plan-list::-webkit-scrollbar-track { /*코칭계획 리스트 스크롤 여백*/
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
section div.plan-list li { /* 코칭계획 리스트 - 리스트 태그*/
    width: 1000px;
    padding: 20px;
    margin: auto;
    list-style: none;
    transform: rotate();
    color: black;
    border-bottom: solid #e7e7e7;
}
section div.plan-list a {
    text-decoration: none;/* 밑줄 없애기 */
    color: black;
    padding-left: 10px;
}
section div.plan-list h4 { /* 공지사항 수정 버튼 */
    float: right;
    display: inline-block;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    background-color: #ffe3d0;
    color: #FF730E;
    width: 60px;
    height: 25px;
    padding-top: 4px;
    text-align: center;
}
section div.plan-list h5 { /* 공지사항 삭제 버튼 */
    float: right;
    display: inline-block;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    background-color: #a7a7a7;
    color: #ffffff;
    width: 60px;
    height: 25px;
    padding-top: 4px;
    margin-left: 8px;
    text-align: center;
}
.date { /* 리스트 날짜 */
    display: inline-block;
    float: right;
    width: 125px;
    font-size: 14px; /* 리스트 폰트 사이즈 */
    color: rgb(180, 180, 180);
    text-align: center;
}

/* 모달 작업 ==================================================*/
