 
@charset "UTF-8";

/* WEB FONTS 적용 ----------------- */
@import url(https://webfontworld.github.io/SCoreDream/SCoreDream.css);

/* 기본적 css 리셋 */
* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}

/* 가이드라인 */
/* .g{
    border: 1px solid rgb(192, 2, 255);
} */


/* 배경 스타일 작업 ================================================== */
body {
    background-color: rgb(233, 233, 233) !important;
    z-index: 1;
    
}
section.wrap {
    display: flex;
}


/* 대시보드 스타일 작업 ==================================================*/
section div.dash { 
    display: inline-block;
    text-align: left;
    width: 1200px;  /*대시보드 컨텐츠 틀 크기 (너비) */
    height: 925px;  /*대시보드 컨텐츠 틀 크기 (높이) */

    padding: 30px;
    margin: auto;  /*대시보드 위치 창 크기에 따라 */

    /* height: 300px; */
}
section div.dash h1{ /*회원 대시보드 타이틀*/
    font-size: 25px;
    font-weight: bold;
    color: #95B4E0;
    padding: 10px;
    padding-bottom: 20px;
}

/* 클래스 공지사항 대시보드----------------------------------*/
section div.notice-content-dash {
    background-color: rgb(255, 255, 255); /* 공지사항 컨텐츠 대시보드 색깔*/
    border-radius: 18px;
    height: 800px;/* 공지사항 컨텐츠 대시보드 크기 (높이) */
}
section div.notice-content-dash h2 {   /*공지사항 컨텐츠 타이틀*/
    font-size: 20px;
    font-weight: bold;
    color: #2370DF;
    /* border-bottom: solid #e7e7e7; */

    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 10px;
}
/* 컨텐츠 내용 ================================== */

/* 공지사항 */
.n_contents_box {
    margin-left: 52px;
}
.title_name {
    display: inline-flex;
    color: #343434;
    font-weight: bold;
}

.contents_title {
    display: inline-flex;
    color: #343434;
    font-weight: bold;
}

.contents_date {
    display: inline-flex;
    color: #a7a7a7;
    font-weight: bold;
}

.contents {
    margin-top: 50px;
}
 
/* 코칭계획 */
.c_contents_box {
    margin-left: 52px;
}


/*버튼 ================================== */

.btn_box {
    padding-left: 500px;
    padding-top: 30px;
    margin-top: 450px;
}

.list { /* 공지사항 목록 버튼 */
    display: inline-block;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    background-color: #dde7f5;
    color: #2370DF;
    width: 60px;
    height: 25px;
    padding-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}
