 
@charset "UTF-8";

/* WEB FONTS 적용 ----------------- */
@import url(https://webfontworld.github.io/SCoreDream/SCoreDream.css);

/* 기본적 css 리셋 */
* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}

/* 가이드라인 */
/* .g{
    border: 1px solid rgb(192, 2, 255);
} */


/* 배경 스타일 작업 ================================================== */
body {
    background-color: rgb(233, 233, 233) !important;
    z-index: 1;
    
}
section.wrap {
    display: flex;
}


/* 대시보드 스타일 작업 ==================================================*/
section div.dash { 
    display: inline-block;
    text-align: left;
    width: 1200px;  /*대시보드 컨텐츠 틀 크기 (너비) */
    height: 925px;  /*대시보드 컨텐츠 틀 크기 (높이) */

    padding: 30px;
    margin: auto;  /*대시보드 위치 창 크기에 따라 */

    /* height: 300px; */
}
section div.dash h1{ /*회원 대시보드 타이틀*/
    font-size: 25px;
    font-weight: bold;
    color: #95B4E0;
    padding: 10px;
    padding-bottom: 20px;
}

/* 클래스 공지사항 대시보드----------------------------------*/
section div.class-notice {
    background-color: rgb(255, 255, 255);
    /* float: left; */
    border-radius: 18px;
    height: 750px;  /* 공지사항 대시보드 크기 (높이) */
    z-index: 2;
   
}
section div.class-notice h2{ /*클래스 공지사항 타이틀*/
    font-size: 20px;
    font-weight: bold;
    color: #2370DF;
    padding-left: 55px;
    padding-top: 30px;
    margin: 10px;
}
section div.notice-list { /* 공지사항 리스트 박스 */
    overflow: auto;
    overflow-x: hidden;
    /*height: 300px;   박스 높이 */
    padding-bottom: 20px; 
    font-size: 14px;
}
.title-list {
	display: flex;
}
.notice-t-d {
	 padding-left: 60px;
     display: flex;
}
.notice-c {
    padding-left: 60px;
}
section div.notice-list::-webkit-scrollbar { /*공지사항 리스트 스크롤 너비*/
    width: 12px;
}
section div.notice-list::-webkit-scrollbar-thumb { /*공지사항 리스트 스크롤 막대*/
    background-color: #77a2ff;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
section div.notice-list::-webkit-scrollbar-track { /*공지사항 리스트 스크롤 여백*/
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
section div.notice-list li { /* 공지사항 리스트 - 리스트 태그*/
    width: 1000px;
    padding: 20px;
    margin: auto;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
    list-style: none;
    color: black;
    border-bottom: solid #e7e7e7;
}
section div.notice-list a{
    text-decoration: none; /* 밑줄 없애기 */
    color: black;
 }

section div.plan-list a{
    text-decoration: none; /* 밑줄 없애기 */
    color: black;
    padding-left: 10px;
 }
 section span { /* 날짜 */
    display: inline-block;
    float: right;
    width: 125px;
    font-size: 14px;
    color: rgb(180, 180, 180);
    text-align: center;
 }
.list { /* 공지사항 목록 버튼 */
    display: inline-block;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    background-color: #a7a7a7;
    color: #ffffff;
    width: 60px;
    height: 30px;
    padding-top: 4px;
    text-align: center;
}
.list-btn {
	padding-left: 530px;
    padding-top: 30px;
    margin-top: 500px;
}