@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'SCoreDream';
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a {
    text-decoration: none;
}

/* content ================================ */

/* 컨텐츠 영역에 양쪽 200px씩 여백주기 ( 수정됨 ) */
.content{
    margin: 20px 200px 0px;
    width: 1040px;

    height: 970px;

    width :calc(100% - 400px);
}

/* 컨텐츠 영역의 왼쪽 가로 길이 잡아주기 */
.content .content_left {
    width: 259px;

    margin: 20px 0px;
    /* border: 1px solid red; */

    float: left;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필 전제 높이 잡아주기 */
.content .content_left .profile {
    height: 90px;

    /* border: 1px solid palegreen; */
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 사진 전제 크기 잡아주기 */
.content .content_left .profile_photo{
    width: 58px;
    height: 58px;
    border-radius: 50%;

    float: left;

    background-color: gainsboro;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 닉네임 위치 및 크기 잡아주기 */
.content .content_left .profile_id{
    font-weight: bold;
    font-size: 20px;
    padding: 8px 9px 0px 20px;

    float: left;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 소설 로그인 종류*/
.content .content_left .profile_social{
    width: 18px;
    height: 18px;

    margin-top: 13px;
}

/* 컨텐츠 영역의 왼쪽상단의 프로필의 소설 로그인 아이디 위치 및 크기 잡아주기 */
.content .content_left .profile_email{
    padding-left: 20px;
    font-size: 12px;
    color: #595959;
}

/* 컨켄츠 영역의 왼쪽 목록 */
.content .mypage_list{
    clear: both;
}

/* 컨텐츠 영역의 왼쪽 목록에 프로필과의 사이 공백 주기 */
.content .content_left .mypage_list ul li{
    margin-top: 18px;
}

/* 컨텐츠 영역의 왼쪽 목록의 li태그들의 css속성 지정 */
.content .content_left .mypage_list ul a {
    font-weight: 450;
    font-size: 14px;
    color: #000000;
}

/* 현재 페이지는 클래스 이름으로 on을 주어 색을 변하게 한다. */
.content .content_left .mypage_list ul a.on {
    color: #2370DF;
}

/* 컨텐츠 영역의 왼쪽 목록의 마지막 li인 경우 밑에도 여백을 주어 밑의 목록과 구분해줘야 한다. */
.content .content_left .mypage_list ul :last-of-type{
    margin-bottom: 18px;
}

/* 목록1 위에 보더로 선 생성 */
.content .content_left .mypage_list .mypage_list_top{
    border-top: 1px solid black;
}

/* 목록2 위에 보더로 선 생성 */
.content .content_left .mypage_list .mypage_list_bottom{
    border-top: 1px solid black;
}

/* 컨텐츠 영역의 오른쪽 부분 정리 ( 수정됨 ) */
.content .content_right {
    margin: 50px 20px 0px 310px;
    padding-left: 50px;
    /* border: 1px solid blue; */

    /* float: right; */
}

/* 컨텐츠 영역의 오른쪽 영역의 위 목록을 감싸는 div css속성 지정 */
.content .content_right .mypage_top{
    width: 900px;
    height: 50px;

    margin-right: 200px;
    margin-bottom: 20px;

    border: 1px solid #595959;
    border-radius: 8px;
}

/* 컨텐츠 영역 - 오른쪽 영역 - TR게시판 / 좋아요 / 댓글 목록 ul */
.content .content_right .mypage_toplist{
    margin-top: 15px;
}

/* 컨텐츠 영역 - 오른쪽 영역 - TR게시판 / 좋아요 / 댓글 목록 ul - li */
.content .content_right .mypage_toplist li {
    margin-left: 70px;
    float: left;
}

/* 컨텐츠 영역 - 오른쪽 영역 - TR게시판 / 좋아요 / 댓글 목록 ul - li - a */
.content .content_right .mypage_toplist a {
    font-weight: 450;
    font-size: 14px;
    color: #6A6A6A;
}

/* 현재 탭의 경우에는 밑줄이 그어지고, 글씨가 두껍게 바뀐다. */
.content .content_right .mypage_toplist a.on {
    font-weight: bold;
    color: black;
    padding-bottom: 10px;

    border-bottom: 2px solid black;
}

/* 클래스 클릭 시 해당 클래스의 대시보드로 이동합니다 */
.content_right .content_p {
    font-size: 14px;
    color: #6B6B6B;

    margin-left: 10px;
}

/* 클래스 카드 위치 및 크기 지정 */
.content_right .class_card{
    margin-left: 20px;
    margin-right: 20px;
    float: left;

    width: 230px;
}

/* 클래스 카드 이미지 */
.content_right .class_card .card_img{
    width: 230px;
    height: 125px;
}

/* 신체정보 ================================ */

/* 신체정보 : 체중, 골격근량, 체지방률 */
.mybody>div{
    width: 110px;
    height: 110px;

    float: left;
    margin-left: 20px;

    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

/* 현재 선택한 탭에는 보더가 두껍게 나타난다. */
.mybody>.on{
    border: 2px solid #7C7C7C;
    box-shadow: none;
}

/* 신체정보 : 체중, 골격근량, 체지방률 - 제목 : 크기 및 색 지정 */
.mybody .mybody_type{
    color: #5B5B5B;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

    /* border: 1px solid blue; */

    width: 100%;

    margin-top: 10px;
}

/* 신체정보 : 체중, 골격근량, 체지방률 - 수치 : 크기 및 위치 지정 */

/* 체중 */
.mybody_weight_value{
    width: 100%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;

    /* border: 1px solid red; */
}

/* 골격근량 */
.mybody_muscle_value{
    width: 100%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;

    /* border: 1px solid red; */
}

/* 체중 */
.mybody_BMI_value{
    width: 100%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;

    /* border: 1px solid red; */
}

/* 신체정보 : 체중, 골격근량, 체지방률 - 표준 */

/* 체중 */
.mybody_weight_type{
    width: 57px;
    height: 21px;
    border-radius: 8px;

    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: white;

    padding-top: 1px;
    margin-top: 2px;
    margin-left: 25px;

    background-color: #1DBF5E;
}

/* 골격근량 */
.mybody_muscle_type{
    width: 57px;
    height: 21px;
    border-radius: 8px;

    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: white;

    padding-top: 1px;
    margin-top: 2px;
    margin-left: 25px;

    background-color: #1DBF5E;
}

/* 체지방률 */
.mybody_BMI_type{
    width: 57px;
    height: 21px;
    border-radius: 8px;

    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: white;

    padding-top: 1px;
    margin-top: 2px;
    margin-left: 25px;

    background-color: #1DBF5E;
}

/* 신체정보 - 버튼 ================================ */
.mybody_Input{
    width: 110px;
    height: 35px;

    margin-top: 75px;
    margin-left: 30px;
}

.mybody_delete{
    width: 94px;
    height: 35px;

    border: none;
    background-color: #D7D7D7;
    color: #000000;

    margin-top: 75px;
    margin-left: 30px;
}

/* 신체정보 - 그래프 ================================ */

/* 신체정보와 그래프 사이의 여백 만들기 */
.mybody_wrapper{
    margin-bottom: 60px;
}

/* 그래프 - 전체적인 버튼 위치 지정 */
.mybody_chart_btn{
    margin-bottom: 10px;
}

/* 그래프 - 날짜 선택 버튼 위치 */
.mybody_btn_date{
    margin-left: 55px;
}

/* 그래프 - 현재 선택한 신체정보 나타나는 버튼 */
.mybody_btn_select_type{
    margin-left: 605px;
    border: none;
    background-color: #D7D7D7;
    color: #000000;
}

/* 라인 차트 - 움짇이게 배너 ================================ */

.outer {
    width: 900px;
    height: 450px;
    margin: 0 auto;
    overflow-x: hidden;

    margin-right: 200px;
}
  
.inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
}
  
.inner {
    padding: 0 16px;
}
  
.button-list {
    text-align: center;
}


/* 푸터 고정되면 삭제하기!!!!!! */
.mybody_chart_wrapper{
	margin-bottom:300px;
}

/* 그래프 다음으로 이동하기 */
.mybody_chart_wrapper .button-list{
    margin-right: 190px;
}

.mybody_chart_wrapper .button-list .button-left{
    width: 80px;
    height: 30px;

    background-color: #D7D7D7;

    border: none;
    border-radius: 8px;

    margin-right: 30px;
}

.mybody_chart_wrapper .button-list .button-right{
    width: 80px;
    height: 30px;

    background-color: #D7D7D7;

    border: none;
    border-radius: 8px;
}

/* 모달창 ================================ */

/* 모달창 - 전체를 감싸는 보더 설정 */
.modal_class_content{

    width: 100%;
    height: 270px;

    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;

    border: 1.5px solid rgba(0, 0, 0, 0.507);
    border-radius: 8px;
}

/* 모달창 - 헤드 - 제목 */
.modal-title{

    width: 100%;

    color: #666666;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    /* border: 1px solid blue; */
}

/* 모달창 - 클래스 제목 */
.modal_class_title{
    color: #000000;
    font-size: 14px;
    font-weight: bold;

    /* border: 1px solid salmon; */
}

/* 모달창 - 날짜 틀 잡기 */
.modal_mybody_date{
    margin-bottom: 10px;
}

/* 모달창 - 데이트 피커 */
.modal_mybody_date p{
    font-size: 14px;
    font-weight: bold;

    display: inline-block;
    margin-right: 30px;
}

/* 모달창 - 데이트 피커 틀 잡기 */
.modal_mybody_date .modal_date_wrap {
    display: inline-block;
}

/* 모달창 - 데이트 피커 - 날짜 나타나는 창 */
.input-group-append{
    height: 30px;
}

.fa-calendar{
    height: 24px;
}

/* 모달창 - 체중 */
.modal_mybody_weight{
    margin-bottom: 10px;
}

.modal_mybody_weight p{
    font-size: 14px;
    font-weight: bold;

    display: inline-block;
    margin-right: 30px;
}

/* 모달창 - 체중 입력창 */
.modal_mybody_weight > input{
    width: 300px;
    height: 33px;

    border: 1px solid #D7D7D7;
    border-radius: 3px;

    text-align: center;

    float: right;
    margin-right: 10px;
}

/* 모달창 - 골격근량 */
.modal_mybody_muscle{
    margin-bottom: 10px;
}

.modal_mybody_muscle p {
    font-size: 14px;
    font-weight: bold;

    display: inline-block;
    margin-right: 30px;
}

.modal_mybody_muscle > input{
    width: 300px;
    height: 33px;

    border: 1px solid #D7D7D7;
    border-radius: 3px;

    text-align: center;

    float: right;
    margin-right: 10px;
}

/* 모달창 - 체지방률 */
.modal_mybody_BMI {
    margin-bottom: 20px;
}

.modal_mybody_BMI p {
    font-size: 14px;
    font-weight: bold;

    display: inline-block;
    margin-right: 30px;
}

.modal_mybody_BMI > input{
    width: 300px;
    height: 33px;

    border: 1px solid #D7D7D7;
    border-radius: 3px;

    text-align: center;

    float: right;
    margin-right: 10px;
}

/* 모달창 - 등록 버튼 */
.modal_mybody_input_btn{
    width: 60px;
    height: 33px;

    float: right;
    margin-right: 10px;

    border: none;
    border-radius: 5px;
    background-color: #2370DF;

    font-size: 14px;
    color: white;
}


/* 날짜 선택 모달창 ================================ */

#modal_datepicker {
    width: 50%;
    margin-right: 30px;
}

.modal_mybody_date_btn{
    width: 60px;
    height: 33px;
    
    border: none;
    border-radius: 5px;
    background-color: #2370DF;

    font-size: 14px;
    color: white;
}



