@charset "UTF-8";

* {
    font-family: 'SCoreDream';
}

#commWrite {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 150px;
}

.write-info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.btn-area {
    display: flex;
    justify-content: center;
}
.btn-area button{
    margin-right: 10px;
}
#comm-cancel {
    background: #fff;
    color: black;
    border-color: #c7c7c7;
}
#comm-submit {
    background: #2370DF;
    border-color: #2370DF;
}
#tmpsave {
    background: #85EC1D;
    border-color: #85EC1D;
}
.tmpList {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.tmpList small {
	width: 130px;
}
.tmpList p{
    cursor: pointer;
    width: 280px;
    overflow: hidden;
}
.tmpList p:hover{
    color: #85EC1D;
}
.fa-trash {
    color: lightgray;
    cursor: pointer;
}
.fa-trash:hover {
    color: #ff9090;
}
svg {
    width: 14px;
    fill: #0f5132;
}
.alert-success, .alert-danger {
    height: 40px;
}